 
header img{
    margin-left: 90px;
    float:left;
}

/* menu bar css */

.main_menu{
    padding: 15px 0 5px 0;
    background-color: #1E1E1E;
    text-align: right;   
    margin-top: 50px
}
.main_menu li{
    display: inline;
    margin-right: 50px;    
}

.main_menu a{
    color: white;
    font-family: "brandon-grotesque",sans-serif;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 5px;
}

.main_menu a:hover{
    border-bottom: 3px solid #009999;
    transition: border-bottom 0.5s;
    -ms-transition: border-bottom 0.5s;
}

nav ul{
    margin-right: 150px;
}


/* body css */

body img{
    margin-right: 20px;
}

h1{
padding: 0;
margin: 0;
font-family: "league-gothic-1","league-gothic-3",  impact, helvetica;
text-decoration: none;
}

#mug{
    margin-top: -55px;
}

.icon{
    text-align: center;
    margin-top: 50px;
}

div.nextarrow{
    float: right;   
}

div.previousarrow{
    float: left;
}

body{
    height: 430px;
    background-color: #1E1E1E;
    text-align: center;
}

#subcontent{
    font-family: "brandon-grotesque",sans-serif;
    color: white;
    padding-left: 200px;
    font-size: 15px;
}

#hello{
    font-style: normal;
}

body h1{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 40px;

}

body h2{
    font-size: 30px;
    text-align: center;
    line-height: 15px;
    letter-spacing: 1px;
    font-weight: 100;
    color: white;
    font-family: "league-gothic-1","league-gothic-2", Impact, helvetica;
    line-height: 35px;
    margin-top:12px
}

body h3{
    text-align: center;
    letter-spacing: 1px;
    line-height: 25px;
    font-weight: 10px;
    color: white;
    font-family: "league-gothic-1","league-gothic-2",  helvetica;
    margin-bottom: 0;

}
